@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-primary: #f472b6;
  --brand-dark: #be185d;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-slate-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
